#yt {
  background: black;
  width: 385px;
  height: 355px;
  margin-top: -23px;
  margin-left: -30px;
}

#ff {
  color: white;
  text-align: center;
}

#tr {
  text-align: center;
}
#cx,#rrr{
  color: goldenrod;
  
}
::selection{
  color: blue;
  background: black;
}
